@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #00f2fe;
  --color-secondary: #ec4899;
  --color-tertiary: #f59e0b;
  --color-neutral: #0b0f17;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: var(--color-neutral, #121212);
  color: rgb(238, 238, 238);
  height: 100dvh;
  width: 100%;
}
